In [1]:
import os

import pandas as pd

In [14]:
x = 0
for element in os.listdir('.'):
    if '.csv' in element:
        if x == 0:
            merge_df = pd.read_csv(element)
            x+=1
            continue
        current_df = pd.read_csv(element)
        merge_df = pd.concat([merge_df,current_df], ignore_index=True)

merge_df.head()

,Unnamed: 0,1,2,3,4,5,6,7,8,9,...,FileName,Element,Energy,Current,Date,Note,Calibration1,Calibration2,Calibration3,Calibration4
0,0,1764.0,2224.0,2135.0,1864.0,1794.0,1727.0,1652.0,1676.0,1693.0,...,EUV067_Ar_60mA_3p398kV_60s_1D15_5scook_2p44e-5...,18,3398.0,60.0,11-18-2015,NaN,NaN,NaN,NaN,NaN
1,1,1190.0,1781.0,1742.0,1476.0,1348.0,1278.0,5191.0,1599.0,1187.0,...,EUV074_Ar_14p983k_140p1mA_5scook_60s_1D10_1p20...,18,14983.0,140.1,11-19-2015,NaN,NaN,NaN,NaN,NaN
2,2,667.0,803.0,788.0,734.0,732.0,677.0,679.0,671.0,665.0,...,EUV004_Ar_60mA_3p323kV_30s_1D6_5scook_2p59e-5t...,18,3323.0,60.0,11-19-2015,NaN,NaN,NaN,NaN,NaN
3,3,15369.0,16546.0,16678.0,16525.0,16585.0,16457.0,16479.0,16742.0,16759.0,...,EUV001_150mA_3p98KV_60s_1D5_5scook_4p29e-6torr...,0,3980.0,150.0,11-17-2015,NaN,NaN,NaN,NaN,NaN
4,4,671.0,837.0,817.0,721.0,702.0,699.0,674.0,674.0,661.0,...,EUV006_Ar_60mA_3p353kV_30s_1D6_5scook_2p62e-5t...,18,3353.0,60.0,11-19-2015,NaN,NaN,NaN,NaN,NaN

In [16]:
merge_df = merge_df.iloc[:,1:-5]

In [17]:
merge_df.to_csv('specBase.csv', index=None)